body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(lion.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #ef9d23
}

hr {
	border-color: #ef8911;
	border-width: 3px;
	max-width: 65px

}

.buffer {
	height: 1rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #ef8911;
	border-color: #ef8911;
}

.btn-primary:hover {
	background-color: #605858;
	border-color: #605858;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}